//             COLORS
$color-primary:#55c57a;
$color-primary-light:#70b890;
$color-primary-dark:#28b485;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:rgba(201, 192, 192, 0.664);
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey:#777;
$color-grey-dark:#999;
$color-grey-dark-1:#333;
$color-grey-light-3:#eee;
$color-white:#fff;
$color-black:rgb(0,0,0);
// FONT SIZE
$default-font-size:1.6rem;
// BOX-SHADOW
$box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15);
